@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;700&display=swap');

.main{
    min-height: 100vh;
    background-color: #FFE6C5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Franklin', sans-serif;
}

.form-container{
    width: 60%;
    background-color: #FCFCFC;
    min-height: 62vh;
    border: 2px solid #939191;
    border-radius: 30px;
    position: relative;
    margin-top: 25px;
    padding: 50px;
}

.form-container h1{
    font-weight: 700;
    color: #0E70DF;
    font-size: 2.5rem;
}

.bubble{
    position: absolute;
    border-radius: 100%;
    border: 1px solid #939191;
    background-color: #FCFCFC;
}

.bubble-container{
    position: absolute;
    top: -135px;
    left: 0px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FCFCFC;
    border: 1px solid #939191;
    border-radius: 15px;
    
}

.bubble-container .bubble{
    position: initial;
    margin: 0 15px;
    background-color: rgb(58, 58, 58);
    animation-name: bubbles-move;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 
    opacity: 0;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} 


.bubble-container .bubble:first-child{
    animation-delay: 1s;
}

.bubble-container .bubble:nth-child(2){
    animation-delay: 2s;
}

.bubble-container .bubble:nth-child(3){
    animation-delay: 3s;
}

.bubble-container .bubble:nth-child(4){
    animation-delay: 4s;
}

.bubble-container .bubble:last-child{
    animation-delay: 5s;
}


@keyframes bubbles-move{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
} 

.flex{
    display: flex;
}

.flex .align-top{
    align-items: flex-start;
}

.sign-up-in-form{
    width: 30%;
    padding: 25px 0px;
}

.flex .hori-between{
    justify-content: space-between;
}

.flex .hori-center{
    justify-content: space-around;
}

.sign-up-in-form h2{
    padding: 5px ;
    transition: all .3s;
    cursor: pointer;
    color: #8F8F8F;
}

.sign-up-in-form h2.active{
    color:#238AFF;
    border-bottom: 5px solid #7EA9FF;
}

.google-btn button{
    background-color: #4285F4 !important;
}
.google-btn div{
    background-color: white !important;
}

.google-btn span{
    color:white !important;
}

.action-container{
    margin-top: 25px;
}

.action-container .object{
    margin: 15px 0;
}

.action-container input{
    border: initial;
    border-bottom: 2px solid #707070;
    transition: all 0.3s;
    outline: none;
    width: 95%;
    font-size: 1rem;
    margin-top: 5px;
}

.action-container input.err{
    border-bottom: 2px solid rgb(255, 51, 51);
}

.action-container h3{
    color: #949CA5;
    transition: all 0.3s;
}

.action-container h3.active{
    color: black;   
}

.action-container input:focus{
    border: initial;
    border-bottom: 2px solid black;
    font-size: 1.2rem;
    margin-top: 10px;
}

.err-message{
    color: rgb(255, 51, 51);
    font-size: 14px;
}

.err-message.active, .success-message.active{
    display: block;
}

.success-message{
    display: none;
    color: rgb(37, 252, 30);
}