.chat-header{
    background-color: grey;
    height: 8%;
}

.chat-content{
    background-color: lightgray;
    height: 84%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-msg-container{
    background-color: rgb(210, 255, 255);
    height: 8%;
    padding: 5px;
}

.chat-msg{
    display: flex;
    height: 100%;
}

.chat-msg input[type=text]{
    width: 80%;
    height: 100%;
    margin-right: 15px;
    outline: none;
    font-size: 1rem;
}

.chat-msg button{
    width: 10%;
}